* {
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
}

html {
    height: 100%;
    width: 100%;
}

body {
    top: 20px;
    font-family: 'Caveat', cursive;
    background-color: #DAC9A6;
    padding:15px 20px;
}

h1 {
    padding: 15px 20px;
    background-color: #B1B479;
}

nav {
    overflow: hidden;
    font-family: 'Caveat', cursive;
    position: fixed;
    top: 10px;
    left: 10px;
    font-size: 2vh;
    line-height: 3vh;
}

nav > a {
    background-color: #B5CAA0;
    color: #26453D;
    padding: 3px 6px;
    text-decoration: none;
    opacity: 0.6;
}

nav > a:not(:first-of-type) {
    border-left: solid 2px #DAC9A6;
    font-family: 'Caveat', cursive;
}

nav > a:first-of-type {
    width: 3.6vw;
}

nav > a:hover {
    opacity: 0.95;
}
nav > a:visited {
    color: #CC543A;
}

a, a:visited {
    color: #323232;
    text-decoration: none;
}

p {
    font-size: 20px;
}

.cn {
    font-family: 'cwTwXYen', sans-serif;
    line-height: 2;
    font-size: 18px;
    font-weight: 350;
    background-color: #B1B479;
    padding: 20px;
    margin-top: 20px;
}