* {
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
	overflow-y: auto;
}
body {
    background-color: #26453D;
}

h1 {
    text-align: center;
    color: #26453D;
    font-size: bold;
}

a {
    font-family: 'Caveat', cursive;
    font-weight: bold;
    text-decoration: none;
}

a:visited {
    color: #C1693C;
    text-decoration: none;
}

h1 {
    font-family: 'Caveat', cursive;
    font-weight: bold;
    padding: 5px 15px;
    background-color:  #B1B479;
}

p {
    font-size: 20px;
}

.cn {
    font-family: 'cwTwXYen', sans-serif;
    line-height: 2;
    font-size: 18px;
    font-weight: 350;
    background-color: #B1B479;
    opacity: 0.8;
    padding: 20px;
    margin-top: 20px;
    background-image:linear-gradient(to bottom, rgba(200, 240, 198, 0.6),
    rgba(255,252,220,0.6)), url("../img/hokkaido02.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.en {
    font-family: 'Caveat', cursive;
    padding: 20px;
    margin-top: 20px;
    line-height: 1.5;
    font-size: 18px;
    background-color: #B1B479;
    opacity: 0.8;
    background-image:linear-gradient(to bottom, rgba(200, 240, 198, 0.6),
    rgba(255,252,220,0.6)), url("../img/hokkaido01.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
  overflow: hidden;
  background-color: #B1B479;
  border: 5px  #DAC9A6 solid;
}

nav > a {
  float: left;
  display: block;
  color: #26453D;
  text-align: center;
  padding: 20px 25px;
  text-decoration: none;
}

nav > a:hover {
  background-color:#DAC9A6;
  color: white;
}

div#backToTop {
	background-color: #4d4d4d;
	color: white;
	font-size: 70%;
	left: 80%;
	bottom: 10%;
	position: fixed;
	cursor: pointer;
	opacity: 0.75;
	padding: 0.5vh 1vw;
	opacity: 0.75;
	transition: opacity 0.3s ease-in;
	display: none;
	white-space: nowrap;
	overflow-x: hidden;
}

div#backToTop:hover {
	opacity: 1;
	transition: opacity 0.5s ease-out;
}

.banner {
    padding: 250px;
    width: 100%;
    height: 600px;
    background-image:linear-gradient(to bottom, rgba(200, 240, 198, 0.6),
    rgba(255,252,220,0.6)), url("../img/hokkaido03.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
}

.quote {
    font-weight: bold;
    font-family: 'Caveat', cursive;
    width: 50%;
    margin: 0 auto;
    font-size: 50px;
    color: #554236;
    padding-left: 20px;
    border-left: 10px solid #fff;
}