* {
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
}
a {
    font-family: 'Caveat', cursive;
    font-weight: bold;
    text-decoration: none;
}

a:visited {
    color: #C1693C;
    text-decoration: none;
}

h1 {
    font-family: 'Caveat', cursive;
    font-weight: bold;
    padding: 5px 15px;
    background-color:  #B1B479;
}

p {
    font-size: 20px;
}

.cn {
    font-family: 'cwTwXYen', sans-serif;
    line-height: 2;
    font-size: 18px;
    font-weight: 350;
    background-color: #B1B479;
    opacity: 0.8;
    padding: 20px;
    margin-top: 20px;
}

.en {
    padding: 20px;
    margin-top: 20px;
}

.en2 {
    font-family: 'Caveat', cursive;
    padding: 20px;
    margin-top: 20px;
    line-height: 1.5;
    font-size: 18px;
    background-color: #B1B479;
    opacity: 0.8;
}

.topnav {
  overflow: hidden;
  background-color: #B1B479;
}

.topnav a {
  float: left;
  display: block;
  color: #26453D;
  text-align: center;
  padding: 20px 25px;
  text-decoration: none;
}

.topnav a:hover {
  background-color:#DAC9A6;
  color: white;
}

body > img#bg {
	position: fixed;
	opacity: 0.5;
	top: 0;
	left: 0;
	z-index: -100;
}

div#backToTop {
	background-color: #4d4d4d;
	color: white;
	font-size: 70%;
	left: 80%;
	bottom: 10%;
	position: fixed;
	cursor: pointer;
	opacity: 0.75;
	padding: 0.5vh 1vw;
	opacity: 0.75;
	transition: opacity 0.3s ease-in;
	display: none;
	white-space: nowrap;
	overflow-x: hidden;
}

div#backToTop:hover {
	opacity: 1;
	transition: opacity 0.5s ease-out;
}

div.img {
	position: absolute;
	top: 0;
	left: 0;
	height: border-box;
	width: border-box;
	line-height: border-box;
	text-align: center;
}
/*
div.img:nth-of-type(1) {
}

div.img:nth-of-type(2) {
}

div.img:nth-of-type(3) {
	background-color:  #B1B479;
}*/